
# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

#tests
test
tests
coverage

#src
src
examples
babel.config.json
package-lock.json
jest.config.js
tsconfig.json

#build tools
.travis.yml
.jenkins.yml
.codeclimate.yml

#linters
.jscsrc
.jshintrc
.eslintrc*

#editor settings
.idea
.editorconfig
.gitignore